* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* align-content: center; */
}

.contenedor {
  border: 2px solid black;
  position: relative;
  width: 100vi;
 height:25vi ;
}
.caja {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  position: absolute;
}
.caja1 {
  background-color: blue;
  /* left: 50px; */
}
.caja2 {
  background-color:red;
  top:0;
  right:0;
  
}
.caja3 {
  background-color:yellow;
  bottom:0; 
  right: 0;
  
}
.caja4 {
  background-color:green;
  left: 0;
  bottom: 0;
}

.caja5{
  background-color: darkorange;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  margin: auto;
}